html {
  scroll-behavior: smooth;
}

.App {
}

.buttonStyle {
  color: white;
  background-color: #ed502e;
  border-radius: 0;
  font-size: 13px;
  border: 1px solid #ed502e;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.buttonStyle:hover {
  background-color: #ef6445;
  border: 2px solid #ef6445;
}

.button2Style {
  color: #ed502e;
  background-color: white;
  border-radius: 0;
  border: 2px solid #ed502e;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button2Style:hover {
  color: white;
  background-color: #ed502e;
  border: 2px solid #ed502e;
}
